.contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
  width: 85%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
}

.botones-nav {
  display: flex;
  gap: 90px;
  list-style: none;
}

.cerrar-sesion {
  cursor: pointer;
  border: 0;
  background: none;
}

.enlaces {
  color: rgb(54, 54, 54);
  text-decoration: none;
}

.enlaces:hover {
  text-shadow: 0 0 1px currentColor;
  color: #37bfb4;
}

.logo {
  color: #323232;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}

.nombre-usuario {
  color: #37bfb4;
  margin-right: 10px;
}
