<header class="contenedor">
  <a class="logo" [routerLink]="['/proyectos']">LOGO</a>
  <ul class="botones-nav">
    <li>
      <a class="enlaces" [routerLink]="['/proyectos']" routerLinkActive="active"
        >Proyectos</a
      >
    </li>
    <li>
      <a class="enlaces" [routerLink]="['/tareas']" routerLinkActive="active"
        >Tareas</a
      >
    </li>
    <li>
      <a class="enlaces" [routerLink]="['/empleados']" routerLinkActive="active"
        >Empleados</a
      >
    </li>
  </ul>
  <div>
    <span class="nombre-usuario">{{ nombreUsuario }}</span>
    <button class="cerrar-sesion" (click)="cerrarSesion()">
      Cerrar sesión
    </button>
  </div>
</header>
