.contenedor {
  background-color: white;
  padding: 10px;
  width: 85%;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 10px;
}

h1 {
  margin-top: 10px;
  font-weight: 600;
  color: rgb(74, 74, 74);
  text-align: center;
}

button {
  padding: 10px;
  border: 0;
  border-radius: 10px;
  background-color: rgb(60, 215, 202);
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: rgb(51, 199, 187);
}
