<table mat-table [dataSource]="datos() || []" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container *ngFor="let columna of columnas()" [matColumnDef]="columna">
    <th mat-header-cell *matHeaderCellDef>
      {{ etiquetas()[columna] || (columna | titlecase) }}
    </th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="columna === 'acciones'">
        <button class="editar" (click)="alEditar(element)">Editar</button>
        <button class="eliminar" (click)="alEliminar(element)">Eliminar</button>
      </span>
      <span *ngIf="columna !== 'acciones' && columna.includes('fecha')">
        {{ element[columna] | date : "dd/MM/yyyy" }}
      </span>
      <span *ngIf="columna !== 'acciones' && !columna.includes('fecha')">
        {{ element[columna] }}
      </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnas()"></tr>
  <tr mat-row *matRowDef="let row; columns: columnas()"></tr>
</table>
